<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit = no">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
<meta name = "theme-color" content = "#000000" media="(prefers-color-scheme: light)"> <!-- for Safari -->
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Password">

<link href="./template_styles.min.css" rel="stylesheet">
<!-- <link rel="preload" href="./fonts/Commissioner/Commissioner-Light.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/Commissioner/Commissioner-Regular.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/Commissioner/Commissioner-Medium.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/Commissioner/Commissioner-SemiBold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/Commissioner/Commissioner-ExtraBold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/Commissioner/Commissioner-Black.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/TTNorms/TTNorms-Bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="./fonts/TTNorms/TTNorms-Bold.woff2" as="font" crossorigin="anonymous"> -->