html {
    // 1 rem = 16px (1440 vw)
    font-size: 0.0694444444444444vw;
    -webkit-tap-highlight-color:  transparent;
    /* --------------------------------- firefox -------------------------------- */
    scrollbar-width: thin;
    scrollbar-color: rgba(58, 75, 90, 1) #f1f1f1;
  
    @include mediaMax(993px) {
      font-size: 0.1302vw;
    }
    @include mediaMax(500px) {
      font-size: 0.26666vw;
    }
    max-width: 100%;
    @include scrollbar();
  
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    margin: 0 auto;
  
    font-family: "Commissioner", Arial, sans-serif;
    font-size: 16rem;
    line-height: 14rem;
    font-weight: 500;
    // background-color: #F6F6F6;
    color: $colorDefaultBlack;
    /*color: $color-main;*/
    overflow-x: hidden;
  
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "Commissioner", Arial, sans-serif;
      box-sizing: border-box;
    }
  }
  .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #FFFFFF;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
    & .preloader__content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
  .w-72{
    width: calc(100% - 397px);
  }
  .w-50{
    width: 50%;
  }
  
  .loading-state:before {
    content: "";
    display: block;
    background: rgba(255,255,255,.5) url('./img/index-image/double_ring.svg') center 20% no-repeat;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  textarea,
  input[type="text"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
  }
  
  li{
    list-style: none;
  }
  a{
    text-decoration: none !important;
    color: $colorDefaultBlack;
    outline:none !important;
  }
  
  .container {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .active{
    display: block!important;
  }
  .active-flex{
    display: flex!important;
  }
  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }
  .dark-body {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-overflow-scrolling: touch;
  }
  .dark-body-popup{
    z-index: 5;
  }
  .dark-body.active {
    display: block;
  }
  body.no-scroll-no-fixed {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    &.tabs-form {
      position: relative;
    }
    .form__label {
      background-color: transparent;
      margin-bottom: 10rem;
      @include mediaMax($small-tablet-max-width){
        margin-bottom: 3rem;
      }
    }
    .input {
      outline: none;
      border-radius: 0;
      -webkit-appearance: none;
      -webkit-border-radius:0px;
    }
    .input:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 50rem #FFFFFF !important; /* Цвет фона */
      -webkit-text-fill-color: $colorDefaultBlack !important; /* цвет текста */
      color: $colorDefaultBlack !important; /* цвет текста */
    }
    .input, select, textarea{
      font-weight: 400;
      font-size: 20rem;
      line-height: 24rem;
      color: $colorDefaultBlack;
      @include mediaMax($small-tablet-max-width){
        font-size: 16rem;
      }
      &:-webkit-autofill::first-line {
        font-size: 20rem;
        @include mediaMax($small-tablet-max-width){
          font-size: 16rem;
        }
      }
    }
    .input{
      background-color: transparent;
      border: none;
      border-bottom: 1rem solid #C4C4C4;
      width: 600rem;
      padding: 21rem 0;
      @include mediaMax($small-tablet-max-width){
        width: 600rem;
      }
      @include mediaMax($mobile-max-width){
        width: 335rem;
        padding: 18rem 0;
      }
      &::-moz-placeholder {
        color: #C4C4C4;
      }
      &::-webkit-input-placeholder {
        color: #C4C4C4;
      }
    }
  
    & .checkbox-block{
      position: absolute;
      bottom: 200rem;
      left: 60rem;
      @include mediaMax($small-tablet-max-width){
        bottom: 183rem;
        left: 42rem;
      }
      @include mediaMax($mobile-max-width){
        bottom: 137rem;
        left: 23rem;
      }
      & .agreement-checkbox{
        font-weight: 400;
        font-size: 20rem;
        line-height: 24rem;
        color: #FFFFFF;
        margin-left: 18rem;
        @include mediaMax($small-tablet-max-width){
          font-size: 16rem;
        }
        @include mediaMax($mobile-max-width){
          margin-right: 26rem;
          margin-left: 12rem;
        }
      }
      .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 1;
      }
  
      .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
  
      .custom-checkbox + label::before {
        content: '';
        display: inline-block;
        width: 24rem;
        height: 24rem;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1rem solid transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-color: #FFFFFF;
        @include mediaMax($small-tablet-max-width){
          width: 22rem;
          height: 22rem;
        }
      }
  
      .custom-checkbox:checked + label::before {
        border-color: transparent;
        background-color: $colorDefaultBlue;
        background-size: 13rem 11rem;
        background-image: url("img/index-image/checkbox.png");
        @include mediaMax($small-tablet-max-width){
          background-size: 16rem 16rem;
        }
      }
    }
    & .button-popup{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      border-radius: 0;
      background: #FFC107;
      width: fit-content;
      padding: 20rem 28rem;
      font-weight: 500;
      font-size: 14rem;
      line-height: 20rem;
      letter-spacing: 1rem;
      text-transform: uppercase;
      color: $colorDefaultBlack;
      margin: 40rem auto 60rem;
      @include mediaMax($small-tablet-max-width){
        padding: 17rem 22rem;
        font-size: 13rem;
      }
      @include mediaMax($mobile-max-width){
        padding: 17rem 0;
        width: 335rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46rem;
        transform: none;
      }
    }
  
    & .type-business-list{
      position: relative;
      &._white-bg {
       .select-type {
         color: #253746;
         border-bottom: 1rem solid #c4c4c4;
         opacity: 1;
  
         &:not(._choice) {
           color: #b8b9b8;
         }
       }
      }
      & .select-type  {
        max-width: 100%;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 20rem;
        line-height: 24rem;
        color: #FFFFFF;
        opacity: 0.7;
        width: 600rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 22rem 0;
        position: relative;
        @include mediaMax($small-tablet-max-width){
          font-size: 16rem;
          width: 688rem;
          padding: 16rem 0;
        }
        @include mediaMax($mobile-max-width){
          width: 335rem;
        }
        /*&:hover{
          color: #FFFFFF;
          opacity: 0.8;
        }*/
  
        &:after{
          position: absolute;
          top: 43%;
          right: 0;
          content: "";
          display: block;
          width: 8.5rem;
          height: 8.5rem;
          border-left: 2px solid #C4C4C4;
          border-bottom: 2px solid #C4C4C4;
          box-sizing: border-box;
          transform: rotate(-45deg) translateY(-50%);
          transition: all .3s linear;
        }
      }
    }
    & .is-open{
      & .select-type{
        &:after{
          transform: rotate(135deg);
        }
      }
    }
    & .type-business-items{
      width: 600rem;
      max-width: 100%;
      min-height: 50rem;
      max-height: 320rem;
      // height: 320rem;
      background-color: #FFFFFF;
      position: absolute;
      left: 0;
      top: 65rem;
      z-index: 1;
      overflow: auto;
      box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
      display: none;
      flex-direction: column;
      gap: 30rem;
      padding: 30rem;
      @include mediaMax($small-tablet-max-width){
        width: 688rem;
        gap: 20rem;
        padding: 20rem;
      }
      @include mediaMax($mobile-max-width){
        width: 336rem;
      }
  
      & ul {
        display: flex;
        flex-direction: column;
        gap: 30rem;
      }
  
      .type-business-item {
        &:hover,
        &._active {
          opacity: 0.3;
        }
      }
  
      &::-webkit-scrollbar {
        width: 10rem;
        background-color: #fff;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: rgba(132, 142, 150, 0.6);
        border: 3.5rem solid #fff;
      }
      & .type-business-item{
        cursor: pointer;
        font-weight: 400;
        font-size: 20rem;
        line-height: 24rem;
        color: $colorDefaultBlack;
        opacity: 0.8;
        @include mediaMax($small-tablet-max-width){
          font-size: 16rem;
        }
      }
    }
  }
  .dropdown{
    display: flex;
    gap: 30rem;
    margin: 20rem 0 10rem 0;
    @include mediaMax($mobile-max-width){
      flex-direction: column;
    }
    & .dropdown__select-list{
      width: 278rem;
      font-weight: 400;
      font-size: 20rem;
      line-height: 24rem;
      color: $colorDefaultBlack;
      padding-bottom: 22rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      position: relative;
      cursor: pointer;
      @include mediaMax($mobile-max-width){
        width: 335rem;
      }
      &:after{
        position: absolute;
        top: 25%;
        right: 0;
        content: "";
        display: block;
        width: 8.5rem;
        height: 8.5rem;
        border-left: 2px solid #C4C4C4;
        border-bottom: 2px solid #C4C4C4;
        box-sizing: border-box;
        transform: rotate(-45deg) translateY(-50%);
        transition: all .3s linear;
      }
    }
    & .select__text{
      @include mediaMax($small-tablet-max-width){
        font-size: 16rem;
      }
    }
    & .dropdown__select-list-items{
      display: none;
    }
    & .is-open{
      & .dropdown__select-list-items{
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 30rem;
        position: absolute;
        left: 0;
        top: 50rem;
        z-index: 1;
        overflow: auto;
        max-height: 210rem;
        box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
        padding: 30rem 30rem 40rem;
        width: 100%;
        @include scrollbarMin();
        @include mediaMax($small-tablet-max-width){
          padding: 20rem 20rem 30rem;
          gap: 20rem;
        }
  
        & .dropdown__select-item{
          display: flex;
          flex-direction: column;
          gap: 5rem;
          font-weight: 400;
          font-size: 20rem;
          line-height: 24rem;
          color: $colorDefaultBlack;
          // margin-top: 30rem;
  
          @include mediaMax($small-tablet-max-width){
            font-size: 16rem;
            // margin-top: 20rem;
          }
        }
        & .dropdown__select-item--active{
          color: $colorDefaultBlue;
        }
      }
  
      &:after{
        transform: rotate(135deg);
      }
    }
  }
  .dropdown-two{
    display: flex;
    gap: 30rem;
    margin: 0;
    @include mediaMax($mobile-max-width){
      flex-direction: column;
      width: 335rem;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 40rem;
    }
    & .dropdown-two__select-list{
      color: $colorDefaultBlack;
      position: relative;
      cursor: pointer;
      padding: 8rem 40rem 10rem 16rem;
      width: fit-content;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 40rem;
      font-size: 16rem;
      line-height: 24rem;
      height: fit-content;
      &:after{
        position: absolute;
        content: "";
        display: block;
        width: 8.5rem;
        height: 8.5rem;
        border-left: 2px solid #C4C4C4;
        border-bottom: 2px solid #C4C4C4;
        box-sizing: border-box;
        transform: rotate(-45deg) translateY(-50%);
        transition: all .3s linear;
  
        top: 45%;
        right: 18rem;
        @include mediaMax($mobile-max-width){
          right: -25rem !important;
        }
  
      }
      @include mediaMax($mobile-max-width){
        width: 335rem;
        padding: 8rem 0 10rem;
        border: transparent;
        width: fit-content;
      }
    }
    & .select__text{
      font-weight: 400;
      font-size: 14rem;
      line-height: 20rem;
      @include mediaMax($small-tablet-max-width){
        font-size: 16rem;
      }
      @include mediaMax($mobile-max-width){
        border: transparent;
      }
    }
    & .dropdown-two__select-list-items{
      display: none;
    }
    & .is-open{
      & .dropdown-two__select-list-items{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        z-index: 1;
        overflow: auto;
        box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
        padding: 16rem 10rem 16rem 16rem;
        min-width: 160rem;
        max-width: 335rem;
        white-space: nowrap;
        height: fit-content;
        background: #FFFFFF;
        top: 56rem;
        gap: 20rem;
        @include mediaMax($small-tablet-max-width){
          top: 51rem;
        }
        @include mediaMax($mobile-max-width){
          padding: 16rem 0 24rem 0;
          top: 45rem;
          gap: 20rem;
          width: 335rem;
          left: 50%;
          transform: translateX(-50%);
        }
        & .dropdown-two__select-item{
          display: flex;
          flex-direction: column;
          gap: 5rem;
          font-size: 14rem;
          line-height: 20rem;
          font-style: normal;
          font-weight: 400;
          color: $colorDefaultBlack;
          @include mediaMax($small-tablet-max-width){
            font-size: 16rem;
          }
          @include mediaMax($mobile-max-width){
            text-align: center;
          }
        }
        & .active-dropdown-two{
          color: $colorDefaultBlue;
        }
      }
  
      &:after{
        transform: rotate(135deg);
      }
    }
  }
  .dropdown-three{
    display: flex;
    gap: 30rem;
    margin: 0;
    cursor: pointer;
    @include mediaMax($mobile-max-width){
      flex-direction: column;
      display: flex;
      align-items: center;
    }
    & .dropdown-three__select-list{
      color: $colorDefaultBlack;
      position: relative;
      cursor: pointer;
      width: fit-content;
      font-size: 14rem;
      line-height: 21rem;
    }
    & .dropdown-three__select-item-city-main{
      font-family: $fontFamilyBase;
      font-weight: 400;
      position: relative;
      width: fit-content;
      font-size: 14rem;
      line-height: 21rem;
      color: $colorDefaultBlack;
      &:after{
        position: absolute;
        content: "";
        display: block;
        width: 8.5rem;
        height: 8.5rem;
        border-left: 2px solid #C4C4C4;
        border-bottom: 2px solid #C4C4C4;
        box-sizing: border-box;
        transform: rotate(-45deg) translateY(-50%);
        transition: all .3s linear;
        top: 45%;
        right: -19rem;
        @include mediaMax($small-tablet-max-width){
          right: -22rem;
        }
      }
      @include mediaMax($small-tablet-max-width){
        font-size: 12rem;
        line-height: 18rem;
      }
      @include mediaMax($mobile-max-width){
        font-size: 14rem;
        line-height: 20rem;
      }
    }
    & .favourites-main__product-status-main{
      font-family: $fontFamilyBase;
      font-weight: 400;
      width: fit-content;
      font-size: 14rem;
      line-height: 21rem;
      color: $colorDefaultBlack;
      opacity: 0.8;
      @include mediaMax($small-tablet-max-width){
        font-size: 12rem;
        line-height: 18rem;
      }
      @include mediaMax($mobile-max-width){
        font-size: 14rem;
        line-height: 20rem;
      }
    }
    & .favourites-main__product-status-main--blue{
      color: $colorDefaultBlue;
    }
    & .favourites-main__product-status-main--red{
      color: #FC0D1B;
    }
    & .favourites-main__product-status-main--gray{
      color: rgba(37, 55, 70, 0.6);
    }
    & .select__text{
      display: flex;
      align-items: flex-end;
      gap: 30rem;
    }
    & .dropdown-three__select-list-items{
      display: none;
    }
    & .is-open{
      & .dropdown-three__select-list-items{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        overflow: auto;
        box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
  
        padding: 16rem 0 24rem 16rem;
        width: 415rem;
        height: fit-content;
        background: #FFFFFF;
        top: 0;
        left: 0;
        gap: 20rem;
        /*@include mediaMax($small-tablet-max-width){
          top: 51rem;
        }*/
        @include mediaMax($mobile-max-width){
          padding: 16rem 0 24rem 0;
          height: fit-content;
          background: #fff;
          gap: 20rem;
          width: 375rem;
          left: -20rem;
        }
        & .dropdown-three__select-item{
          display: flex;
          gap: 5rem;
          font-size: 14rem;
          line-height: 20rem;
          font-style: normal;
          font-weight: 400;
          color: $colorDefaultBlack;
  
          width: fit-content;
          flex-direction: row;
          @include mediaMax($small-tablet-max-width){
            font-size: 16rem;
          }
          @include mediaMax($mobile-max-width){
            text-align: center;
          }
          & .dropdown-three__select-item-city{
            font-weight: 400;
            font-size: 16rem;
            line-height: 24rem;
            opacity: 0.6;
            margin-left: 14rem;
          }
          & .favourites-main__product-status{
            font-weight: 400;
            font-size: 16rem;
            line-height: 24rem;
            opacity: 0.7;
            width: 136rem;
            margin-right: 12rem;
            color: #253746;
            @include mediaMax($mobile-max-width){
              font-size: 14rem;
              line-height: 20rem;
              width: 130rem;
              margin-right: 0;
              text-align: left;
              margin-left: 20rem;
            }
          }
          & .dropdown-three__span-wrapper{
            display: flex;
            gap: 2rem;
            align-items: center;
            & .dropdown-three__select-item-span{
              width: 25rem;
              height: 3rem;
              background: rgba(37, 55, 70, 0.2);
              display: block;
            }
            & .dropdown-three__select-item-span--blue{
              background: $colorDefaultBlue;
            }
            & .dropdown-three__select-item-span--red{
              background: #FC0D1B;
            }
            & .dropdown-three__select-item-span--gray{
              background: rgba(37, 55, 70, 0.6);
            }
          }
        }
        & .active-dropdown-three{
          & .favourites-main__product-status{
            color: $colorDefaultBlue;
          }
          & .dropdown-three__select-item-city{
            color: $colorDefaultBlue;
          }
        }
      }
  
      &:after{
        transform: rotate(135deg);
      }
    }
  }
  .tooltip{
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
    &::before{
      width: 30rem;
      height: 12rem;
      content: '';
      position: absolute;
      background-image: url("img/product-card/tooltip-bottom.svg");
    }
  }
  
  .breadcrumb-wrapper {
    display: block;
    margin: 0 0 20rem;
    @include mediaMax($small-tablet-max-width){
      margin: 0 0 10rem;
    }
    @include mediaMax($mobile-max-width){
      margin: 0 0 20rem;
    }
  }
  
  .breadcrumb{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -5rem -5rem 0;
    background: transparent;
    border-radius: 0;
    padding: 0;
  
  
    @include mediaMax($mobile-max-width){
      display: none;
    }
  
    & > li {
      margin: 5rem 5rem 0;
      &::before {
        display: none;
      }
      position: relative;
  
      font-weight: 400;
      font-size: 14rem;
      line-height: 21rem;
      color: rgba(37, 55, 70, 0.5);
  
      &:after{
        display: inline;
        content: '/';
        color: inherit;
        font: inherit;
        margin-left: 10rem;
      }
  
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
    & .breadcrumb-item{
      font: inherit;
      color: inherit;
      text-decoration: none;
  
      &:hover {
        text-decoration: none;
      }
    }
    & .breadcrumb-item-cur{
      font-weight: 400;
      font-size: 14rem;
      line-height: 21rem;
      color: $colorDefaultBlack;
    }
  }
  .mobile-back{
    position: relative;
    display: none;
    padding-left: 20rem;
    font-weight: 500;
    font-size: 13rem;
    line-height: 20rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $colorDefaultBlack;
  
    @include mediaMax($mobile-max-width){
      display: block;
    }
    &:after{
      content: '';
      width: 6rem;
      height: 6rem;
      border-top: 2px solid #253746;
      border-right: 2px solid #253746;
      transform: rotate(225deg) translate(-50%, -50%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  
  .agreement-one{
    font-weight: 400;
    font-size: 20rem;
    line-height: 24rem;
    color: $colorDefaultBlack;
    margin-left: 13rem;
    @include mediaMax($small-tablet-max-width){
      font-size: 16rem;
      line-height: 20rem;
      margin-left: 13rem;
    }
    @include mediaMax($mobile-max-width){
      margin-left: 0;
    }
  }
  .agreement-two{
    font-weight: 400;
    font-size: 20rem;
    line-height: 24rem;
    color: $colorDefaultBlue;
    @include mediaMax($small-tablet-max-width){
      margin-left: 0;
      font-size: 16rem;
      line-height: 20rem;
    }
  }
  .popup{
    background-color: #FFFFFF;
    width: 720rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 6;
    max-height: 90vh;
    overflow: auto;
    overflow-x: hidden;
    @include scrollbarMin();
    @include mediaMax($mobile-max-width){
      width: 100%;
      left: 0;
      bottom: 0;
      top: auto;
      transform: translate(0, 0);
    }
    & .popup-close{
      position: absolute;
      top: 24rem;
      right: 24rem;
      width: 24rem;
      height: 24rem;
      cursor: pointer;
      &:after{
        border: 2px;
        background-color: $colorDefaultBlack;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:before{
        border: 2px;
        background-color: $colorDefaultBlack;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    & .popup__wrapper{
      padding: 60rem 60rem 0 60rem;
      @include mediaMax($mobile-max-width){
        padding: 24rem 20rem 0 20rem;
        width: 375rem;
      }
      & .popup__title{
        width: 600rem;
        font-family: $fontFamilySecond;
        font-weight: 700;
        font-size: 48rem;
        line-height: 58rem;
        text-align: center;
        color: $colorDefaultBlack;
        margin-bottom: 20rem;
        @include mediaMax($small-tablet-max-width){
          font-size: 42rem;
          line-height: 50rem;
        }
        @include mediaMax($mobile-max-width){
          font-size: 24rem;
          line-height: 29rem;
          text-align: left;
          width: auto;
        }
      }
      & .popup__description{
        font-weight: 400;
        font-size: 20rem;
        line-height: 24rem;
        text-align: center;
        @include mediaMax($small-tablet-max-width){
          font-size: 16rem;
          line-height: 24rem;
        }
        @include mediaMax($mobile-max-width){
          font-size: 16rem;
          line-height: 24rem;
          text-align: left;
        }
      }
    }
    & .button-popup-wrapper{
      display: flex;
      gap: 10rem;
      justify-content: center;
      margin: 44rem 0 60rem 0;
  
      @include mediaMax($mobile-max-width){
        width: 335rem;
      }
      & .button-popup-one{
        border: 1px solid rgba(0, 0, 0, 0.1);
        @include mediaMax($mobile-max-width){
          width: 50%;
        }
      }
      & .button-popup-two{
        margin: 0;
        @include mediaMax($mobile-max-width){
          width: 50%;
        }
      }
    }
    & .tabs-popup{
      display: flex;
      gap: 10rem;
      margin-bottom: 30rem;
      justify-content: center;
      @include mediaMax($mobile-max-width){
        width: 335rem;
        overflow-x: auto;
        flex-shrink: 1;
        justify-content: normal;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      & .tabs-popup__item{
        font-weight: 400;
        font-size: 16rem;
        line-height: 24rem;
        color: $colorDefaultBlack;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 40px;
        padding: 11rem 20rem;
        cursor: pointer;
        white-space: nowrap;
        @include mediaMax($small-tablet-max-width){
          font-size: 14rem;
          line-height: 20rem;
          padding: 8rem 16rem;
        }
      }
      & .tabs-popup__item--active{
        border: none;
        background: #00AFD7;
        color: #FFFFFF;
      }
    }
  }
  .tooltip-block{
    display: flex;
    gap: 8rem;
    align-items: center;
    & .tooltip-block__text{
      font-weight: 400;
      font-size: 14rem;
      line-height: 21rem;
      opacity: 0.5;
    }
    & .tooltip-block__block-wrapper{
      position: relative;
      & .tooltip-block__img{
        width: 28rem;
      }
      & .tooltip-block__hover-text{
        font-weight: 400;
        font-size: 16rem;
        line-height: 24rem;
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      }
      & .tooltip-block__hover-block{
        position: absolute;
        top: -20rem;
        right: -100%;
        background: #FFFFFF;
        box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.15);
        padding: 10rem 14rem;
        transform: translateX(95%);
        width: 400rem;
  
        @include mediaMax($mobile-max-width){
          width: 300rem;
          top: 40rem;
          right: 50%;
          transform: translateX(50%);
        }
      }
      & .tooltip-block__hover-block{
        display: none;
      }
      &:hover,
      &._show {
        & .tooltip-block__hover-block{
          display: block;
          z-index: 2;
        }
      }
    }
  }
  
  .form-complete{
    width: 750rem;
    height: 530rem;
    max-height: 100%;
    overflow-y: auto;
    z-index: 6;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    @include scrollbar();
  
    @include mediaMax($small-tablet-max-width){
      width: 700rem;
      height: 420rem;
    }
    @include mediaMax($mobile-max-width){
      width: 100%;
      top: auto;
      left: 0;
      bottom: 0;
      transform: translate(0, 0);
      height: auto;
    }
    & .close-form-complete{
      position: absolute;
      top: 24rem;
      right: 24rem;
      width: 20rem;
      height: 20rem;
      &:after{
        border: 2px;
        background-color: $colorDefaultBlack;
      }
      &:before{
        border: 2px;
        background-color: $colorDefaultBlack;
      }
    }
    & .form-complete-img{
      width: 240rem;
      height: 100%;
      object-fit: cover;
      object-position: center;
      align-self: stretch;
  
      @include mediaMax($mobile-max-width){
        display: none;
      }
    }
    & .form-complete-wrapper{
      padding: 60rem 60rem 45rem;
      align-self: flex-start;
      
      @include mediaMax($mobile-max-width){
        width: 100%;
        padding: 24rem 20rem 30rem;
      }
      & .form-complete-title{
        width: 80%;
        padding-right: 20rem;
        font-family: $fontFamilySecond;
        font-weight: 700;
        font-size: 48rem;
        line-height: 58rem;
        color: $colorDefaultBlack;
        @include mediaMax($mobile-max-width){
          width: 100%;
          font-size: 24rem;
          line-height: 120%;
        }
      }
      & .form-complete-dynamic{
        font-family: $fontFamilySecond;
        font-weight: 700;
        font-size: 48rem;
        line-height: 58rem;
        color: $colorDefaultBlack;
        @include mediaMax($mobile-max-width){
          font-size: 24rem;
          line-height: 120%;
        }
      }
      & .form-complete-description{
        width: 320rem;
        font-weight: 400;
        font-size: 20rem;
        line-height: 24rem;
        color: $colorDefaultBlack;
        margin: 20rem 0 61rem;
        @include mediaMax($small-tablet-max-width){
          margin: 20rem 0 80rem;
        }
        @include mediaMax($mobile-max-width){
          font-size: 16rem;
          margin-bottom: 40rem;
        }
      }
    }
  
    & .button-yellow{
      @include mediaMax($mobile-max-width){
        width: 100%;
        padding: 13rem 0;
      }
    }
  }
  
  .swiper__navigation-block{
    display: flex;
    position: absolute;
    bottom: 31rem;
    right: -197rem;
    gap: 20rem;
    @include mediaMax($small-tablet-max-width){
      display: none;
    }
  }
  .swiper-pagination-bullets{
    width: auto;
    height: 20rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(calc(-50% + 16rem), 0);
    display: flex;
    z-index: 1;
    @include mediaMax($mobile-max-width){
      transform: translate(-50%, 0);
    }
  
  
    & .swiper-pagination-bullet{
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2);
      margin-right: 16rem;
      &:last-of-type{
        margin-right: 0;
      }
  
      &-active {
        background: $colorDefaultBlue;
      }
    }
  }
  
  .is-invalid{
    border-bottom: 1rem solid #FF6565 !important;
  }
  input.is-invalid::placeholder{
    color: #FF6565;
  }
  /*.is-invalid-partner{
    border-bottom: 1rem solid rgba(255, 0, 0, 0.5)!important;
  }*/
  .just-validate-error-label{
    margin-top: 8rem;
  }
  body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  
  /* make sure to set some focus styles for accessibility */
  :focus {
    outline: 0;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {
    line-height: 1;
  
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  
  table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
  }
  
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
  }
  
  
  audio,
  canvas,
  video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  [hidden] {
    display: none;
  }
  
  
  
  a:focus {
    outline: thin dotted;
  }
  
  a:active,
  a:hover {
    outline: 0;
  }
  
  
  img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
  }
  
  
  figure {
    margin: 0;
  }
  
  
  form {
    margin: 0;
  }
  
  
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  
  legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
  }
  
  
  button,
  input,
  select,
  textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
  }
  
  
  button,
  input {
    line-height: normal;
  }
  
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  html input[type="button"], /* 1 */
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
  }
  
  
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  
  
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
  }
  
  input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
  }
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  
  textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
  }
  
  
  html,
  button,
  input,
  select,
  textarea {
    color: #222;
  }
  
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  
  .content-block {
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: $colorDefaultBlack;
  
    p {
      margin-top: 40rem;
      font-weight: 400;
      font-size: 16rem;
      line-height: 24rem;
      color: $colorDefaultBlack;
  
      &:first-of-type {
        margin-top: 0;
      }
    }
  
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  
  .popup-custom {
    width: auto;
    min-width: 550rem;
    max-width: calc(100vw - 100rem);
    padding-bottom: 55rem;
    @include mediaMax($mobile-max-width){
      padding-bottom: 20rem;
      width: 375rem;
    }
  
    .close {
      position: absolute;
      right: 15rem;
      top: 15rem;
    }
  
    & .popup__wrapper {
      width: auto;
      max-width: 100%;
    }
  
    & .table-wrapper-content {
      display: block;
      overflow: auto;
      width: auto;
      max-width: 100%;
      padding-bottom: 15rem;
  
      scrollbar-color: rgba(0, 0, 0, 0.2);
      scrollbar-width: thin;
  
      &::-webkit-scrollbar{
        height: 3rem;
      }
      &::-webkit-scrollbar-thumb{
        background: rgba(132, 142, 150, 0.6);
      }
      &::-webkit-scrollbar-track{
        background: transparent;
      }
    }
  
    & table{
      border-top: 1px solid rgba(0, 0, 0, 0.2);
  
  
      & tr{
        & td{
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          font-weight: 400;
          font-size: 14rem;
          line-height: 21rem;
          color: $colorDefaultBlack;
          width: 30rem;
          padding: 5rem 4rem;
          white-space: nowrap;
          vertical-align: middle;
  
          &:nth-child(1){
            margin-right: 10rem;
            padding-right: 10rem;
            @include mediaMax($small-tablet-max-width){
              padding-right: 0;
            }
          }
          &:nth-child(2){
            padding-right: 5rem;
          }
        }
      }
    }
  }
  
  
  .lg-backdrop {
    z-index: 10000;
  }
  